p{
    color:white;
    text-align: justify;
    font-size: 24px;
}

h1{
    color:white;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

figure.tier-list{
    border: 3px solid red;
}

body{

    background-color: black;
}

#texto1{
    color:red
}

#texto2{
     color:rgb(215, 14, 255
    }

#texto3{
    color:yellow
}